.points {
    width: 100%;
    margin: 100px 0px;
    background: url(../img/flowers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 20px 0px 10px 0px;
}

.points__inner {
    display: flex;
    justify-content: center;
    align-items: center;

}

.point {
    align-items: left;
    display: flex;
    margin: 10px 40px;
    width: 35%;
}

.point__content > span{
    display: block;
    margin: 10px;
}

.point__title {
    font-size: 50px;
}

.point__subtitle {
    font-size: 14px;
}

.point__icon{
    height: 64px;

}